/* Chessboard Styles */
/* remove default margin and default padding  from all elements
*/

:root {
    --viewport-width: 100vw;
    --viewport-height: 100vh;
    --min-vw-vh: min(100vw, 100vh);
}

@media (min-width: 0px) {
    :root {
        --viewport-width: 100vw;
        --viewport-height: 100vh;
        --min-vw-vh: min(100vw, 100vh);
    }
}

* {
    margin: 0;
    padding: 0;
}

.chessboard {
    display: flex;
    flex-flow: column nowrap;
}
.row {
    display: flex;
    flex-flow: row nowrap;
}
.square {
    width: calc(var(--min-vw-vh) / 8);
    height: calc(var(--min-vw-vh) / 8);
}

.black {
    background-color: #000;
}

.white {
    background-color: #fff;
}
